
:root{
  --col-ddb:#0B0C10;
  --col-db:#1F2833;
  --col-gr:#C5C6C7;
  --col-lb:#66FCF1;
  --col-mb:#45A29E;
  --col-wh:#FFFFFF;
}

/* Color section */
.c-grad{
  background: linear-gradient(90deg, var(--col-lb), var(--col-wh));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-ddb{
  color: var(--col-ddb);
}
.c-db{
  color: var(--col-db);
}
.c-gr{
  color: var(--col-gr);
}
.c-lb{
  color: var(--col-lb);
}
.c-mb{
  color: var(--col-mb);
}
.c-wh{
  color: var(--col-wh);
}
.c-bddb{
  background-color: var(--col-ddb);
}
.c-bdb{
  background-color: var(--col-db);
}
.c-bgr{
  background-color: var(--col-gr);
}
.c-blb{
  background-color: var(--col-lb);
}
.c-bmb{
  background-color: var(--col-mb);
}
.c-bwh{
  background-color: var(--col-wh);
}

/* Width section */
.w-100{
  width: 100%;
}
.w-95{
  width: 95%;
}
.w-80{
  width: 80%;
}
.w-50{
  width: 50%;
}
.w-6px{
  width: calc(100% - 20px);
}
hr{
  height: 1px;
}

/* Corner section */
.r-smooth-05{
  border-radius: 0.5rem;
}

/* Text section */
.t-bbb{
  font-size: 3rem;
}
.t-bb{
  font-size: 2rem;
}
.t-b{
  font-size: 1.1rem;
}
.t-s{
  font-size: 0.9rem;
}
.t-ss{
  font-size: 0.6rem;
}
.t-spacing{
  letter-spacing: 0.2rem;
}
.t-spacing-small{
  letter-spacing: 2px;
}
.t-light{
  font-weight: 400;
}
.t-reg{
  font-weight: 500;
}
.t-heavy{
  font-weight: 700;
}

/* Display section */
.d-flex-r{
  display: flex;
  flex-direction: row;
}
.d-flex-c{
  display: flex;
  flex-direction: column;
}
.d-flex-wrap{
  flex-wrap: wrap;
}

.d-ac{
  align-items: center;
}
.d-al{
  align-items: flex-start;
}
.d-asth{
  align-items: stretch;
}
.d-jsa{
  justify-content: space-around;
}
.d-jsb{
  justify-content: space-between;
}
.d-jc{
  justify-content: center;
}
.d-asfs{
  align-self: flex-start;
}
/* Gap */
.g-2r{
  gap: 2rem;
}
.g-1r{
  gap: 1rem;
}
.g-05r{
  gap: 0.5rem;
}

/* position-section */
.p-abs{
  position: absolute;
}

/* Curser section */
.cur-pt{
  cursor: pointer;
}

/* size, position -> color -> display -> etc */
*{
  margin: 0;
  border: 0;
}

.App{
  height: 100vh;
  overflow-y: scroll;
  min-width: 450px;
}

.Head{
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 45px;
  min-height: 80px;
  align-items: center;
}

.Head .button{
  align-items: center;
  cursor: pointer;
}

.Head .icon{
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.global-nav{
  width: max(200px, 28%);
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.global-nav p{
  transition: top 0.1s cubic-bezier(0, 0.4, 0.6, 1);
}

a{
  text-decoration: none;
}

.navigation-button{
  position: relative;
  top: 0px;
  cursor: pointer;
  user-select: none;
}

.navigation-button .underline{
  height: 2px;
  border-radius: 1px;
}


/*Home content*/
.Home{
  justify-content: center;
  align-items: center;
}

.Home .Intro{
  margin-top: 64px;
  margin-bottom: 24px;
  margin-right: 40px;
}

.contact-button{
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.contact-button > *{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.effect-ball{
  width: 1px;
  height: 1px;
  border-radius: 50%;
  z-index: 1;
}
.effect-ball.focus{
  width: 220px;
  height: 220px;
}
.editor-container{
  gap: 2rem;
}


.contact-button .icon{
  height: 30px;
  width: 30px;
}

.recent-works{
  width: 100%;
  height: auto;
  margin-top: 32px;
  align-items: center;
  gap: 32px;
}




.Foot{
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.Foot .icon{
  width: 24px;
  height: 24px;
}

.Foot .icons{
  gap: 50px;
}

.post{
  margin-top: 2rem;
  gap: 10px;
}


.post-button{
  width: 5rem;
  height: 1.4rem;
  border-radius: 0.7rem;
}

.tag{
  width: auto;
  height: 1rem;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.6rem;
}

.searchresult-tags-container{
  transition: height 0.3s ease;
}

.policy{
  font-size: 1.2rem;
}



/* Animation */
@keyframes highlight-up{
  from{translate:none;}
  to{translate:translateY(-5px);}
}
@keyframes highlight-down{
  from{translate:translateY(-5px);}
  to{translate:none;}
}
@keyframes bigger{
  from{width:0px; height:0px;}
  to{width:220px; height:220px;}
}
@keyframes smaller{
  from{width:220px; height:220px;}
  to{width:0px; height:0px;}
}
@keyframes wider{
  from{width: 0%;}
  to{width: 100%;}
}
@keyframes narrower{
  from{width: 100%;margin-left:auto;}
  to{width: 0%;margin-left:auto;}
}





