
:root{
  --col-ddb:#0B0C10;
  --col-db:#1F2833;
  --col-gr:#C5C6C7;
  --col-lb:#66FCF1;
  --col-mb:#45A29E;
  --col-wh:#FFFFFF;

}

/* Color section */
.c-grad{
  background: linear-gradient(90deg, var(--col-lb), var(--col-wh));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.c-ddb{
  color: var(--col-ddb);
}
.c-db{
  color: var(--col-db);
}
.c-gr{
  color: var(--col-gr);
}
.c-lb{
  color: var(--col-lb);
}
.c-mb{
  color: var(--col-mb);
}
.c-wh{
  color: var(--col-);
}
.c-bddb{
  background-color: var(--col-ddb);
}
.c-bdb{
  background-color: var(--col-db);
}
.c-bgr{
  background-color: var(--col-gr);
}
.c-blb{
  background-color: var(--col-lb);
}
.c-bmb{
  background-color: var(--col-mb);
}
.c-bwh{
  background-color: var(--col-wh);
}

/* Width section */
.w-100{
  width: 100%;
}
.w-95{
  width: 95%;
}
.w-80{
  width: 80%;
}
hr{
  height: 1px;
}

/* Corner section */
.r-smooth-05{
  border-radius: 0.5rem;
}

/* Text section */
.t-bb{
  font-size: 2rem;
}
.t-s{
  font-size: 0.9rem;
}
.t-spacing{
  letter-spacing: 0.2rem;
}
.t-light{
  font-weight: 400;
}
.t-heavy{
  font-weight: 700;
}

/* Display section */
.d-flex-r{
  display: flex;
  flex-direction: row;
}
.d-flex-c{
  display: flex;
  flex-direction: column;
}
.d-flex-wrap{
  flex-wrap: wrap;
}

.d-ac{
  align-items: center;
}
.d-al{
  align-items: flex-start;
}
.d-asth{
  align-items: stretch;
}
.d-jsa{
  justify-content: space-around;
}
.d-jsb{
  justify-content: space-between;
}
.d-jc{
  justify-content: center;
}


/* position-section */
.p-abs{
  position: absolute;
}

/* Curser section */
.cur-pt{
  cursor: pointer;
}

/* size, position -> color -> display -> etc */
*{
  margin: 0;
  border: 0;
}

.App{
  height: 100vh;
  overflow-y: scroll;
  min-width: 400px;
}

.Head{
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 45px;
  min-height: 80px;
  align-items: center;
}

.Head .button{
  align-items: center;
  cursor: pointer;
}

.Head .icon{
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.global-nav{
  width: max(200px, 28%);
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.global-nav p{
  transition: top 0.1s cubic-bezier(0, 0.4, 0.6, 1);
}

a{
  text-decoration: none;
}

.navigation-button{
  position: relative;
  top: 0px;
  cursor: pointer;
  user-select: none;
}

.navigation-button .underline{
  height: 2px;
  border-radius: 1px;
}


/*Home content*/
.Home{
  justify-content: center;
  align-items: center;
  animation: blur 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Home .Intro{
  margin-top: 64px;
  margin-bottom: 24px;
  margin-right: 40px;
}

.contact-button{
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  margin-right: 16px;
  border-radius: 50%;
  border: 3px solid var(--col-wh);
  overflow: hidden;
}

.contact-button > *{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.effect-ball{
  width: 1px;
  height: 1px;
  border-radius: 50%;
  z-index: 1;
}
.effect-ball.focus{
  width: 220px;
  height: 220px;
}

.contact-button .icon{
  height: 30px;
  width: 30px;
}

.recent-works{
  width: 100%;
  height: auto;
  margin-top: 32px;
  align-items: center;
  gap: 32px;
}

.container-card{
  height: auto;
  justify-content: space-between;
  align-items: top;
}

.column-card{
  width: 30%;
  height: 100%;
  gap: 16px;
}

.card{
  transition: transform 0.3s cubic-bezier(0, 0.4, 0.6, 1);
}

.Foot{
  margin-top: 100px;
  min-height: 128px;
  gap: 10px;
}

.Foot .icon{
  width: 24px;
  height: 24px;
}

.Foot .icons{
  gap: 50px;
}
















/* Animation */
@keyframes highlight-up{
  from{translate:none;}
  to{translate:translateY(-5px);}
}
@keyframes highlight-down{
  from{translate:translateY(-5px);}
  to{translate:none;}
}
@keyframes bigger{
  from{width:0px; height:0px;}
  to{width:220px; height:220px;}
}
@keyframes smaller{
  from{width:220px; height:220px;}
  to{width:0px; height:0px;}
}
@keyframes wider{
  from{width: 0%;}
  to{width: 100%;}
}
@keyframes narrower{
  from{width: 100%;margin-left:auto;}
  to{width: 0%;margin-left:auto;}
}
@keyframes blur{
  from{
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    -o-filter: blur(2rem);
    -ms-filter: blur(2rem);
    opacity: 0%;
  }
  to{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    opacity: 100%;
  }
}





