.condition-selector{
    border-radius: 1.5rem;
    transition: height 0.2s ease;
    overflow: hidden;
}


  
.search-title-input{
    background-color: var(--col-db);
    color: var(--col-wh);
    width: calc(100% - 2rem);
    height: 3rem;
    border-radius: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
}

.condition-unit{
    width: 16rem;
    justify-content: space-between;
}
.condition-units{
    margin-bottom: 0.4rem;
}

.search-date-input{
    background-color: var(--col-db);
    color: var(--col-wh); 
    width: 8rem;
}
  
.search-date-input::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.sort-field-input{
    background-color: var(--col-db);
    color: var(--col-wh);
}

.sort-container{
    width: 8rem;
}
  
.sort-icon{
    width: 0.9rem;
    height: 0.9rem;
}
.search-icon{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
}
